@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    @apply h-screen overflow-hidden
}

.loading-spinner-big {
  margin: 10px auto;
  border: 3px solid #fff; /* Light grey */
  border-top: 3px solid gray; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h3{
  @apply font-bold text-3xl mb-5
}

label{
  @apply font-bold text-lg
}

input,textarea{
  @apply border-2 border-gray-200 p-2 rounded-lg w-72 focus:outline-none
}
table.basic{
  @apply w-full mt-12 table-auto
}

table.basic thead tr td {
  @apply bg-gray-200 font-bold text-2xl p-2
}

table.basic tr td {
  @apply mt-1 
}

img{
  max-height: 100%;
}